
<body>
    
<section class="container">
    <div class="item">
        <div class="contato">
            <div class="div1">Let's get in one touch</div>
            <img src="assets/img/logo.png" alt="" class="imagem">
            <div class="social">
                <span class="texto1">Meus links:</span>
                <ul class="links">
                    <li><a href=""></a></li>
                </ul>
            </div>
        </div>
        <div class="submit"></div>
    </div>

</section>
</body>