<section class="about" id="about">
  <div class="img-perfil">
    <img src="assets/img/perfil.png" alt="" width="" class="img-perfil" />
  </div>

  <div class="sobre-mim">
    Meu nome é João Gabriel de Oliveira Meireles👋 Sou de Orizona, Goiás.<br />
    Cursando o 6º Período de Sistemas de Informação no Instituto Federal Goiano
    - Campus Urutaí.
  </div>

  <h1>Hard Skills</h1>

  <div class="skills">
    <img src="assets/img/java.png" alt="" />
    <img src="assets/img/html.png" alt="" />
    <img src="assets/img/javascript.png" alt="" />
    <img src="assets/img/python.png" alt="" />
    <img src="assets/img/css.png" alt="" />
  </div>
</section>
